/ros_ws/src/turtlesim_web/turtlesim-web-app/.meteor/dev_bundle
/ros_ws/src/turtlesim_web/turtlesim-web-app/.meteor/local
/ros_ws/src/turtlesim_web/turtlesim-web-app/node_modules
/ros_ws/src/turtlesim_web/include
/ros_ws/nbproject
/ros_ws/build
/ros_ws/devel
/nbproject
